// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #6d31ff;
  --ion-color-primary-rgb: 109, 49, 255;
  --ion-color-secondary: #00d1ff;
  --ion-color-tertiary: #7c5cff;
  --ion-color-success: #2af6a8;
  --ion-color-warning: #ffd15c;
  --ion-color-danger: #ff4b9d;
  --ion-color-dark: #04050f;
  --ion-background-color: #070915;
  --ion-text-color: #e8ecff;
}
