<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ nombreDigimon | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="cargando" class="ion-text-center" style="margin-top: 50px;">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
    <p>Cargando detalles...</p>
  </div>

  <ion-card *ngIf="!cargando && digimon">
    <img [src]="digimon.img" alt="{{ digimon.name }}" style="width: 100%; max-height: 300px; object-fit: contain; margin-top: 20px;" />
    
    <ion-card-header>
      <ion-card-title color="secondary">{{ digimon.name }}</ion-card-title>
      <ion-card-subtitle>Nivel: **{{ digimon.level }}**</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Identificador / Registro:</strong> En la base de datos oficial del DigiDex, este espécimen está clasificado con el rango de poder de tipo {{ digimon.level }}.</p>
    </ion-card-content>
  </ion-card>
</ion-content>